
<h4 class="text-center">THE INSTITUTE OF CHARTERED ACCOUNTANTS OF BANGLADESH</h4>
<p class="text-center">CA Bhaban, 100 Kazi Nazrul Islam Avenue, Dhaka - 1215, Bangladesh <br>
Phone: 9117521, 9115340, 9137847, 9112672</p>
<h4 class="text-center">Exam fee details for CERTIFICATE LEVEL of May-June, 2019</h4>
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Reg. No.</th>
        <th scope="col">Form No.</th>
        <th scope="col">Name</th>
        <th scope="col">Father's Name</th>
        <th scope="col">Pay Date</th>
        <th scope="col">Pay slip #</th>
        <th scope="col">Bank & Branch</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Otto, @mdo</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>