<form>

  <label for="exampleFormControlInput1"> Exam Fee Details</label>


  <div class="form-group">
    <label for="exampleFormControlSelect1">Example Level</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option *ngFor="let input1 of examlevel" value="{{input1.subId}}">{{input1.subName}}</option>

    </select>
  </div>

  <div class="row">

    <div class="col">
      <select class="form-control" id="exampleFormControlSelect1">
        <option *ngFor="let inputs of session" value="{{inputs.sessionId}}">{{inputs.sessionName}}</option>

      </select>
    </div>
    <div class="col">
      <select class="form-control" id="exampleFormControlSelect1">
        <option *ngFor="let input1 of sessionYears()" value="{{input1}}">{{input1}}</option>

      </select>

    </div>

    <button type="submit" class="btn btn-primary" onclick="" >Submit</button>
  </div>
</form>