<div class="content-body" style="margin: 20px;">
  <div class="row col-12">
    <div class="col-2">

    </div>
    <div class="col-3">
      <img src="../../../assets/logo.png" style="width: 12.5rem;">
    </div>
    <div class="col-7">
      <div>
        <h5>THE INSTITUTE OF CHARTERED ACCOUNTANTS OF BANGLADESH</h5>
      </div>
      <div>CA Bhaban, 100 Kazi Nazrul Islam Avenue, Dhaka- 1215,Bangladesh</div>
      <div>Phone: 9117521, 9115340, 9137847, 9112672</div>
    </div>
  </div>

  <br>
  <h5 style="text-align: center;">Exam fee details for {{raj?.payload?.examLevelName}} of {{raj?.payload?.monthName}}, {{raj?.payload?.sessionYear}}</h5> <br>



  <table class="table col-10 offset-1" *ngIf="raj">
    <thead>
      <tr>
        <th scope="col" style="border: 1px solid black;">Reg. No.</th>
        <th scope="col" style="border: 1px solid black;">Form No.</th>
        <th scope="col" style="border: 1px solid black;">Name</th>
        <th scope="col" style="border: 1px solid black;">Father's Name</th>
        <th scope="col" style="border: 1px solid black;">Pay Date</th>
        <th scope="col" style="border: 1px solid black;">Pay slip #</th>
        <th scope="col" style="border: 1px solid black;">Bank & Branch</th>
        <th scope="col" style="border: 1px solid black;">Amount</th>


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lol of raj.payload.output">
        <td scope="row" style="border: 1px solid black;">{{lol.regNo}}</td>

        <td scope="row" style="border: 1px solid black;">{{lol.formNo}}</td>

        <td scope="row" style="border: 1px solid black;">{{lol.name}}</td>

        <td scope="row" style="border: 1px solid black;">{{lol.fName}}</td>

        <td scope="row" style="border: 1px solid black;">{{lol.exfeepayslipdate}}</td>

        <td scope="row" style="border: 1px solid black;">{{lol.exfeepayslipno}}</td>

        <td scope="row" style="border: 1px solid black;">{{lol.exfeepayslipbank}}, {{lol.exfeepayslipbr}}</td>

        <td scope="row" style="border: 1px solid black;">{{lol.exfeepayslipamt}}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th style="text-align: end;">Total : </th>
        <td style="border: 1px solid black;">{{raj.payload.sum}}</td>
      </tr>
    </tbody>
    <b>Inword : </b>

  </table>

  <hr class="col-10 offset-1" style="border: .01em solid lightslategrey">

  <div class="col-12" style="font-weight: bold;">

    <div class="col-6 offset-1"> E-mail: president@icab.org.bd, secretary@icab.org.bd, dos@icab.org.bd <br>
      Web: www.icab.org.bd</div>
  </div>
</div>