<div class="content-body" style="margin: 20px;">
  <div class="row col-12">
    <div class="col-2">

    </div>
    <div class="col-3">
      <img src="../../../assets/logo.png" style="width: 12.5rem;">
    </div>
    <div class="col-7">
      <div>
        <h5>THE INSTITUTE OF CHARTERED ACCOUNTANTS OF BANGLADESH</h5>
      </div>
      <div>CA Bhaban, 100 Kazi Nazrul Islam Avenue, Dhaka- 1215,Bangladesh</div>
      <div>Phone: 9117521, 9115340, 9137847, 9112672</div>
    </div>
  </div>

  <br>
  <h5 style="text-align: center;">Exam fee details for Certificate LEVEL of May-June, 2019</h5> <br>



  <table class="table col-10 offset-1">
    <thead>
      <tr>
        <th scope="col">Reg. No.</th>
        <th scope="col">Form No.</th>
        <th scope="col">Name</th>
        <th scope="col">Father's Name</th>
        <th scope="col">Pay Date</th>
        <th scope="col">Pay slip #</th>
        <th scope="col">Bank & Branch</th>
        <th scope="col">Amount</th>


      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row"></td>

        <td scope="row"></td>

        <td scope="row"></td>

        <td scope="row"></td>

        <td scope="row"></td>

        <td scope="row"></td>

        <td scope="row"></td>

        <td scope="row"></td>
      </tr>
    </tbody>
  </table>

  
  <hr>
  <div class="col-12">
    
    <div class="col-6 offset-4"> E-mail: president@icab.org.bd, secretary@icab.org.bd, dos@icab.org.bd <br>
      Web: www.icab.org.bd</div>
  </div>


</div>

<!-- <table style="border-color: black;">
  <tr>
    <td>fg</td>
    <td>gg</td>
  </tr>
</table> -->